.Result {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
}

.UpperLayout {
    height: 48%;
    display: flex;
    justify-content: space-around;
}

.LowerLayout {
    height: 48%;
    display: flex;
    justify-content: space-around;
}

.Log {
    width: 55%;
}

.Queries {
    width: 55%;
}

.Response {
    width: 42%;
}

.MemoryProfiler {
    font-family: 'Inconsolata', monospace;
    font-size: 14px;
    width: 42%;
}

.MemoryProfiler-text {
    font-family: 'Inconsolata', monospace;
    font-size: 14px;
}
