.Result {
    /*display: flex;*/
    height: 100%;
    /*flex-direction: column;*/
    /*justify-content: space-around;*/
    width: 100%;
}

.UpperLayout {
    height: 48%;
    display: flex;
    justify-content: space-around;
}

.LowerLayout {
    height: 48%;
    display: flex;
    justify-content: space-around;
}

.MemoryProfiler {
    overflow: auto;
}

.MemoryProfiler-text {
    font-family: 'Inconsolata', monospace;
    font-size: 14px;
}
