html {
  height: 100%;

}

body {
  height: 100%
}

@import "~antd/dist/antd.css";

#root {
  height: 100%;
}

.App {
  font-family: 'Inconsolata', monospace;
  display: flex;
  height: 100%;
  justify-content: center;
}

.particles {
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #FFF;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.nav-bar-details span {
  margin-right: 15px;
}

.span.hljs-keyword:nth-child(10) {
  display: block;
}
.hljs {
  max-width: 900px;
  overflow: scroll;
}

.ant-table td { white-space: nowrap; }

.nav-bar-details {
  font-family: 'Inconsolata', monospace !important;
}

.Response > div:nth-child(2), .MemoryProfiler > div:nth-child(2){
  overflow: scroll;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
